/* .App {
  text-align: left;
} */
.App {
  position: absolute;
  font-family: 'Big Shoulders Inline Text, cursive';
  width: 100vw;
  margin: auto;
  padding: 10px;
  /* text-align: left; */
}

.ingredients{
  font-family: "Big Shoulders Inline Text" !important;
  font-size: 20px;
  position: absolute;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 800px;
}

.equipment{
  font-family: "Big Shoulders Inline Text" !important;
  font-size: 20px;
  position: absolute;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 800px;
}



h2 {
  font-family: "Big Shoulders Inline Text" !important;
}

h4 {
  font-family: "Big Shoulders Inline Text" !important;
}


.allRecipes {
  margin-left: 50px;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(255, 208, 0);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.body-particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.stepTable {
  width: 100%;
}

.tableHeadings {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.stepTableData {
  text-align: left;
}

.help-info {
  background-color: #f5db7d;
  text-align: center;
  border-radius: 25px;
  width: 80%;
}

.volumeForm {
  position: absolute;
  left: 25%; 
  top: 20%;
  text-align: center;
  width: 400px;
}

.volumeFormInput {
  position: relative;
  text-align: center;
  width: 20%;
}

.tabButton{
 font-size: 20px;
 margin-left: 5px;
 padding:5px;
}

button {
  background: #F3E139;
  border-radius: 7.45px !important;
  box-shadow: 50px, 100px, #ddddcb !important;
  color: black;
  outline: none !important;
  font-family: "Big Shoulders Inline Text" !important;
  text-shadow:
    -1px -1px 0 #F3E139,
    1px -1px 0 #F3E139,
    -1px 1px 0 #F3E139,
    1px 1px 0 #F3E139;
}

button:hover {
  background: rgb(0, 0, 0);
  color: rgb(39, 65, 17);
  text-shadow:
    -1px -1px 0 #f8cf5d,
    1px -1px 0 #f8cf5d,
    -1px 1px 0 #f8cf5d,
    1px 1px 0 #f8cf5d; 
}

.current-recipe-button {
  position: relative;
  padding: 10px;
  width: 350px;
  font-size: 30px; 
  text-shadow:
    -1px -1px 0 #F3E139,
    1px -1px 0 #F3E139,
    -1px 1px 0 #F3E139,
    1px 1px 0 #F3E139; 
}

.recipe-button {
  position: relative;
  padding: 10px;
  width: 350px;
  text-shadow:
    -1px -1px 0 #F3E139,
    1px -1px 0 #F3E139,
    -1px 1px 0 #F3E139,
    1px 1px 0 #F3E139; 
}

input {
  background: rgb(255, 230, 5);
  border-radius: 7.45px !important;
  outline: none;
  color: black;
  font-family: "Big Shoulders Inline Text" !important;
}

input:hover {
  background: rgb(0, 0, 0); /* Green */
  color: white;
  font-family: "Big Shoulders Inline Text" !important;

}

.progress {
  margin-top: 550;
  display: flex;
  height: 40px;
  overflow: hidden;
  background-color: #d28f09 !important;
}

.timer-container {
  margin-left: 20px;
}

.completed-button {
  margin-bottom: 15px;
  width: 110px;
}

.taskColumn {
  font-size: 22px;
  width: 800px;
}

.detailsColumn {
  font-size: 22px;
  width: 130px;
}

.completedColumn {
  font-size: 22px;
  width: 100px;
}

.steps {
  max-width: 500 px;
  max-height: 500;
  position: absolute;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 800px;
}

.stepTable {
  max-width: 500 px;
  max-height: 500;
  position: absolute;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 800px;
  font-family: "Big Shoulders Inline Text" !important;

}

.bg-warning {
  background-color: rgb(14, 136, 95);
  font-family: "Big Shoulders Inline Text" !important;

}

.menu {
  height: 100%;
  width: 160px;
  position: flex;
  top: 0;
  left: 0;
  margin: 0;
  font-family: "Big Shoulders Inline Text" !important;

}
.linus {
  font-size: large;
  margin: 0;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.table {
  width: 100%;
  text-align: center;
  font-family: "Big Shoulders Inline Text" !important;

}

.inner {
  display: inline-block;
  font-family: "Big Shoulders Inline Text" !important;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

.pause-button {
  text-indent: -9999px;
  line-height: 0;
  font-family: "Big Shoulders Inline Text" !important;

}

.pause-button::after {
  content: "Start/Stop";
  text-indent: 0;
  display: block;
  line-height: initial;
  font-family: "Big Shoulders Inline Text", cursive;
}

.reset-button {
  text-indent: -9999px;
  line-height: 0;
}

.reset-button::after {
  content: "Reset";
  text-indent: 0;
  display: block;
  line-height: initial;
  font-family: "Big Shoulders Inline Text", cursive;
}

.recipesButton {
  font-size: 500px;
  font-family: "Big Shoulders Inline Text", cursive;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}

.title {
  margin: auto !important;
  /* width: 325%; */
  position: relative;
  font-size: 120px;
  font-family: "Big Shoulders Inline Text" !important; 
  width: 100vw !important;
  /* display: inline-flex !important; */
  text-align: center;
}

.logo {
  margin-top: 35px;
  position: absolute;
  width: 200px; 
  display: block;
  /* width: 20vw !important; */
}

.buttonRecipes {
  /* margin-top:35px; */
  position: relative;
  width: 200px; 
  display: block;
  margin: auto !important; 
  /* /* width: 50% !important;
  /* margin-left: 50%;
  margin-right: 50%; */
  text-align: center;
}


.walkthrough-buttons {
  position: absolute;
  margin-top: 400px;
}

/* .outerRecipesButtonLayer {
  position: relative;
  width: 200px; 
  display: block;
  margin: auto !important; 
  text-align: center;
} */

