.App {
  text-align: left;
}

.progress {
  background-color: #ffc107;
}

.bg-warning {
  background-color: rgb(14, 136, 95);
}

.menu {
  height: 100%;
  width: 160px;
  position: flex;
  top: 0;
  left: 0;
  margin: 0;
}
.linus {
  font-size: large;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.recipeList {
}

.pause-button {
  text-indent: -9999px;
  line-height: 0;
}

.pause-button::after {
  content: "Start/Stop";
  text-indent: 0;
  display: block;
  line-height: initial;
  font-family: "Big Shoulders Inline Text", cursive;
}

.reset-button {
  text-indent: -9999px;
  line-height: 0;
}

.reset-button::after {
  content: "Reset";
  text-indent: 0;
  display: block;
  line-height: initial;
  font-family: "Big Shoulders Inline Text", cursive;
}

.recipesButton {
  font-size: 500px;
  font-family: "Big Shoulders Inline Text", cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #alert {
  position: fixed;
}
#alert:hover:after {
  background: hsla(0, 0%, 0%, 0.8);
  border-radius: 3px;
  color: #2e9b40;
  content: "Click to dismiss";
  font: bold 12px/30px sans-serif;
  height: 30px;
  left: 5%;
  margin-left: 0px;
  position: left;
  text-align: center;
  top: 50px;
  width: 120px;
}
#alert:hover:before {
  border-bottom: 10px solid hsla(0, 0%, 0%, 0.8);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 40px;
  width: 0;
}
#alert:target {
  display: none;
}
.alert {
  animation: alert 1s ease forwards;
  background-color: #bb3726;
  background-image: linear-gradient(
    135deg,
    transparent,
    transparent 25%,
    hsla(0, 0%, 0%, 0.1) 25%,
    hsla(0, 0%, 0%, 0.1) 50%,
    transparent 50%,
    transparent 75%,
    hsla(0, 0%, 0%, 0.1) 75%,
    hsla(0, 0%, 0%, 0.1)
  ); */
/* background-size: 20px 20px;
  box-shadow: 0 5px 0 hsla(0, 0%, 0%, 0.1);
  color: #f6f6f6;
  display: block;
  font: bold 16px/40px sans-serif;
  height: 40px;
  position: flex;
  text-align: center;
  text-decoration: none;
  top: 45px;
  width: 100%;
} */
@keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
