.App {
  text-align: left;
}


#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color:rgb(255, 208, 0);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.stepTable {
  width: 100%;
}

.tableHeadings {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.stepTableData {
  text-align: left;
}

.help-info {
  background-color: #f5db7d;
  text-align: center;
  border-radius: 25px;
  width: 80%;
}

.volumeForm {
  position: absolute;
  left: 50%; 
  top: 20%;
  text-align: center;
  width: 400px;
}

.volumeFormInput {
  position: relative;
  text-align: center;
  width: 20%;
}

button {
  background: #F3E139;
  border-radius: 7.45px !important;
  box-shadow: 50px, 100px, #ddddcb !important;
  color: black;
  outline: none !important;
  font-family: "Big Shoulders Inline Text" !important;
}

button:hover {
  background: rgb(0, 0, 0); /* Green */
  color: white;
}

.current-recipe-button {
  position: relative;
  padding: 10px;
  width: 350px;
  font-size: 30px; 
}

input {
  background: rgb(255, 230, 5);
  border-radius: 7.45px !important;
  outline: none;
  color: black;
  font-family: "Big Shoulders Inline Text" !important;
}

input:hover {
  background: rgb(0, 0, 0); /* Green */
  color: white;
}

.progress {
  margin-top: 60px;
  background-color: #ffc107;
}
.timer-container {
  margin-left: 20px;
}

.completed-button {
  width: 110px;
}
.steps {
  position: relative;
  margin-top: 70px;
  margin-bottom: 50px;
  width: 800px;
}

.bg-warning {
  background-color: rgb(14, 136, 95);
}

.menu {
  height: 100%;
  width: 160px;
  position: flex;
  top: 0;
  left: 0;
  margin: 0;
}
.linus {
  font-size: large;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pause-button {
  text-indent: -9999px;
  line-height: 0;
}

.pause-button::after {
  content: "Start/Stop";
  text-indent: 0;
  display: block;
  line-height: initial;
  font-family: "Big Shoulders Inline Text", cursive;
}

.reset-button {
  text-indent: -9999px;
  line-height: 0;
}

.reset-button::after {
  content: "Reset";
  text-indent: 0;
  display: block;
  line-height: initial;
  font-family: "Big Shoulders Inline Text", cursive;
}

.recipesButton {
  font-size: 500px;
  font-family: "Big Shoulders Inline Text", cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}

.title{
  margin: 0 auto !important;
  width: 325%;
  position: relative;
  font-size: 100px;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 120px; 
}
