body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'Big Shoulders Inline Text', cursive;
}
/*Container*/
body {
  background-color: black;
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 20px;
  padding: 25px;
  margin: 0;
  overflow: auto;
}
 
#container li {
  margin-bottom: 10px;
}

