/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


code {
  font-family: 'Big Shoulders Inline Text', cursive;
}
/*Container*/
body {
  background-color: transparent;
  font-family: 'Big Shoulders Inline Text', cursive;
  overflow: auto;
}
 
#container li {
  margin-bottom: 10px;
}

